HighwaysEngland/obj/
HighwaysEngland/bin/Debug/HighwaysEngland.pdb
HighwaysEngland/bin/Debug/LSPD First Response.dll
HighwaysEngland/bin/Debug/RagePluginHookSDK.dll
HighwaysEngland/bin/Debug/RagePluginHookSDK.xml
